body {
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  padding: 10% 10%;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
